name: test
on: [push]

env:
  LIBZIM_RELEASE: libzim_linux-x86_64-6.1.1
  LIBZIM_LIBRARY_PATH: lib/x86_64-linux-gnu/libzim.so.6.1.1
  LIBZIM_INCLUDE_PATH: include/zim
  CYTHON_VERSION: 0.29.6
  MAX_LINE_LENGTH: 110

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
          architecture: x64

      - name: Autoformat with black
        run: |
          pip install black
          black --check --exclude=setup.py .

      - name: Lint with flake8
        run: |
          pip install flake8
          # one pass for show-stopper syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --exclude=setup.py --show-source --statistics
          # one pass for small stylistic things
          flake8 . --count --exclude=setup.py --max-line-length=$MAX_LINE_LENGTH --statistics

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        # TODO: expand this once macos and windows libzim releases become available
        # os: [ubuntu-latest, windows-latest, macos-latest]
        # alternatively we can compile libzim in docker and use the container as an action
        python: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
          architecture: x64
          
      - name: Install compilation dependencies
        run: |
          sudo apt update -y && \
          sudo apt install -y --no-install-recommends git pkg-config libtool automake autoconf make g++ liblzma-dev coreutils meson ninja-build wget zlib1g-dev libicu-dev libgumbo-dev libmagic-dev ca-certificates && \
          sudo apt clean -y
          sudo update-ca-certificates
      
      - name: Install xapian
        run: |
          wget https://oligarchy.co.uk/xapian/1.4.14/xapian-core-1.4.14.tar.xz
          tar xvf xapian-core-1.4.14.tar.xz
          cd xapian-core-1.4.14 
          sudo ./configure
          sudo make all install
          
      - name: Install libzim
        run: |
          git clone https://github.com/openzim/libzim.git libzim-src
          cd libzim && git checkout 6.0.2
          cd libzim 
          sudo meson . build
          sudo ninja -C build install
      
      - name: Cache libzim dylib & headers
        uses: actions/cache@master
        id: cache-libzim
        with:
          path: libzim_linux
          key: $LIBZIM_RELEASE-libzim-cache

      - name: Link libzim dylib & headers into workspace lib and include folders
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib/x86_64-linux-gnu/:$LD_LIBRARY_PATH
          sudo ldconfig
                
      - name: Build cython, sdist, and bdist_wheel
        run: |
          pip install --upgrade cython==$CYTHON_VERSION setuptools pip wheel
          python setup.py build_ext
          python setup.py sdist bdist_wheel
          
      - name: Test built package with pytest 
        run: |
          sudo ldconfig
          pip install pytest
          pip install -e .
          pytest .
